extends ../layouts/default

block main
  center
    h1= title

block content
  .text-center
    a(href="/auth/twitter")
      i.fa.fa-twitter.fa-3x.fa-border
    | &nbsp;&nbsp;

  .text-center
    br
    h2 OR
    br

  .login
    block auth
